extends layout

block content
  .container
    h1 #{title}
    p
      | This is served using Node.js, routing and mvc framework is Express, and the view engine is Pug! (formally Jade) Additions to the website will be Nodemailer for sending emails to me, Mongodb for the database, Angular for the controllers, and React for the views!
